#input-todo{
    display: flex;
    align-items: center;
    width: 45vw;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
    min-height: 45px;
    padding: 0 20px;
    background-color: #f0f2f5;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 4px 24px rgb(0 0 0 / 17%);

}
#input-todo .ant-checkbox-inner,
#list .ant-checkbox-inner {
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    outline: none;
}
#input-todo .ant-input{
 border: none;
background: #f0f2f5;
outline: none;
}
#input-todo .ant-input:focus{
    border: none;
    outline: none;
    box-shadow: none;
}