.App {
  text-align: center;
}
.ant-layout{
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}
#header{
   background: #001529c9;
   background:url('./image/todo.jpg') no-repeat center center;
}


